@import "work-styles";

body {
  background-color: #E6E1E1;
  padding: 2em;
}

messaging.widget {
  background-color: #fff;
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
}

threads {
  max-width: 300px;
}
