@import "work-includes";

messaging.widget {
  .messages {
    max-height: 120px;
  }

  form {
    margin-top: 10px;

    textarea {
      height          : 30px;
      background-color: #E6E1E1;
    }

    button.attach {
      display: none;
    }

    button.enter {
      float           : left;
      width           : 100px;
      background-color: blue;
      color           : white;
      margin-top      : 10px;
    }
  }
}

messaging {
  display: block;

  @include clearfix;

  .messages {
    max-height      : 500px;
    overflow        : scroll;
    $avatar-diameter: 35px;

    > li {
      position  : relative;
      padding   : 10px 0;
      border-top: 1px solid #ccc;

      @include clearfix;

      &:first-child {
        border-top: 0;
      }

      .avatar {
        width           : $avatar-diameter;
        height          : $avatar-diameter;
        background-color: #eee;
        border-radius   : $avatar-diameter;
        position        : absolute;
      }

      .message {
        float      : left;
        margin-left: $avatar-diameter + 20px;
        min-height : $avatar-diameter;

        .attachments {
          li {
            width           : 50px;
            height          : 40px;
            background-color: purple;
            display         : inline-block;
            margin          : 5px;

            &:first-child {
              margin-left: 0;
            }
          }
        }

      }
    }
  }

  form {
    margin-top: 20px;

    textarea {
      width  : 100%;
      padding: 5px;
      height : 75px;
      border : 0;
    }

    .enter, .upload {
      margin-top: 20px;
    }

    div.upload {
      float: right;
      width: 320px;
      ap-uploader {
        float: left;
        margin-top: 10px;
        ap-file {
          div.failed {
            span {
              @include ellipsis(40px);
              width: 50px;
            }
            button {
              margin-left: 15px;
              margin-top: 15px;
            }
          }
        }
      }
      button.toggle {
        float: right;
      }
    }

    button.enter {
      float           : left;
      width           : 200px;
      background-color: grey;
      color           : white
    }

    button.attach {
      float           : right;
      background-color: initial;
    }
  }
}
