@import "work-includes";

threads {
  display: block;
  background-color: white;

  ul {
    li {
      > a {
        display: block;
        padding: 10px 6px;

        &:hover {
          background-color: #eee;
        }
      }

      @include clearfix;

      border-top: 1px solid #ccc;

      &:first-child {
        border-top: none;
      }

      header {
        * {
          display: inline-block;
          vertical-align: middle;
        }
        h4 {
          @include ellipsis(70%);
        }

        time {
          @include ellipsis(30%);
          float: right;
        }
      }

      main {
        margin-top: 6px;
        $avatar-diameter: 35px;

        .avatar {
          width           : $avatar-diameter;
          height          : $avatar-diameter;
          background-color: #eee;
          border-radius   : $avatar-diameter;
          position        : absolute;
        }

        .notification {
          position: absolute;
          margin-left: $avatar-diameter - 10px;
          margin-top: -4px;
          padding: 2px 4px;
          text-align: center;
          display: inline-block;
          line-height: 14px;
          background-color: red;
          border-radius: 10px;
          font-size: 12px;
          color: white;
        }

        .message {
          overflow   : hidden;
          margin-left: $avatar-diameter + 6px;
          min-height : $avatar-diameter;

          .co-pilot {
            margin-bottom: 6px;
          }

          p {
            @include ellipsis(100%);
          }
        }
      }
    }
  }
}