- var scripts = []
- scripts.push('constants')
- scripts.push('submissions.module')
- scripts.push('templates')
- scripts.push('submissions.controller')
- scripts.push('submissions.directive')
- scripts.push('submission-detail.controller')
- scripts.push('submission-detail.directive')
- scripts.push('submission-slides.controller')
- scripts.push('submission-slides.directive')
- scripts.push('submission-detail-api.service')

= "\n"
// build:js main.js
= "\n"
each path in scripts
  = "\n"
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
= "\n"
// endbuild
= "\n"