ul.nav
  li
    a.submissions(ui-sref="submissions") Submissions

  li
    a.final-fixes(ui-sref="final-fixes") Final Fixes

  li
    a.detail(ui-sref="submission-detail") Detail

  li
    a.slides(ui-sref="submission-slides") Slides