ul.nav
  li
    a.submissions(ui-sref="design-concepts") Design Concepts

  li
    a.submissions(ui-sref="complete-designs({projectId: 'abc', stepId: 'abc'})") Complete Designs

  li
    a.final-fixes(ui-sref="final-fixes({projectId: 'abc', stepId: 'abc'})") Final Fixes

  li
    a.detail(ui-sref="submission-detail({projectId: 'abc', stepId: 'abc', submissionId: 'abc'})") Detail

  li
    a.slides(ui-sref="file-detail({projectId: 'abc', stepId: 'abc', submissionId: 'abc', fileId: 'abc'})") Slides