ul#example-nav
  li
    a.submissions(ui-sref="step({projectId: 'abc', stepId: 'abc'})") Design Concepts

  li
    a.submissions(ui-sref="step({projectId: 'abc', stepId: 'def'})") Complete Designs

  li
    a.submissions(ui-sref="step({projectId: 'abc', stepId: 'ghi'})") Final Fixes

  li
    a.detail(ui-sref="submission-detail({projectId: 'abc', stepId: 'abc', submissionId: 'abc'})") Submission Detail

  li
    a.slides(ui-sref="file-detail({projectId: 'abc', stepId: 'abc', submissionId: 'abc', fileId: 'abc'})") File Detail