ul#example-nav
  li
    a.submissions(ui-sref="step({projectId: 'abc', stepId: 'abc', userType: 'customer'})") Design Concepts (Customer)
  li
    a.submissions(ui-sref="step({projectId: 'abc', stepId: 'abc', userType: 'copilot'})") Design Concepts (Copilot)
  li
    a.submissions(ui-sref="step({projectId: 'abc', stepId: 'abc', userType: 'member'})") Design Concepts (Member)

  li
    a.submissions(ui-sref="step({projectId: 'abc', stepId: 'def'})") Complete Designs

  li
    a.submissions(ui-sref="step({projectId: 'abc', stepId: 'ghi'})") Final Fixes

  li
    a.detail(ui-sref="submission-detail({projectId: 'abc', stepId: 'abc', submissionId: 'abc'})") Submission Detail

  li
    a.slides(ui-sref="file-detail({projectId: 'abc', stepId: 'abc', submissionId: 'abc', fileId: 'abc'})") File Detail

  li
    a(ui-sref="submissions-header") Header

  li
    a(ui-sref="top-selections") Top Selections

  li
    a(ui-sref="row-of-thumbnails") Row of thumbnails