@import "work-includes";

file-detail {
  display: block;

  main {
    width           : 100vw;
    height          : 100vh;
    background-color: $white;

    .header {
      height: 80px;
      padding: $spacing-biggest;
      border-bottom: 1px solid $neutral-color;

      @include vertical-align-middle();

      .submitter {
        min-width: 240px;
        @include vertical-align-middle();
      }

      .title {
        @include ellipsis();
        text-align: center;
        margin-top: $spacing;
      }

      .icons {
        text-align: right;
        min-width: 180px;
        padding-right: $padding-biggest;
        margin-left: $margin;

        > * {
          margin-left: $margin-small;
        }
      }

      .name-time {
        margin-left: $spacing;

        .name {
          font-size  : $font-size-big;
          font-weight: $font-weight-lightest;
        }
      }
    }

    .content {
      overflow: hidden;

      .slideshow {

        .preview {
          overflow: auto;
          text-align: center;
          padding: $padding-big 0;

          .previous, .next {
            min-width: 50px;

            .arrow-previous {
              margin: auto $margin-small auto auto
            }

            .arrow-next {
              margin: auto auto auto $margin-small
            }
          }

          .image {
            .img-container {
              overflow: auto;

              img {
                margin: auto;
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }

        .thumbnails {
          text-align: center;
          max-width: 100vw;
          padding: 20px;
          min-height: 100px;
          overflow: auto;
          white-space: nowrap;

          > * {
            display: inline-block;
            margin: $margin-smallest;
            position: relative;
          }

          button {
            img {
              width  : 60px;
              height : 50px;
              display: block;
            }
          }
        }
      }
    }
  }
}