@import "work-includes";
@import "mixins";

final-fixes {
  button {
    @include vertical-align-middle();

    display   : block;
    margin    : 0 auto;
    margin-top: $margin-small;

    .icon {
      margin-right: $margin-small;
    }
  }

  .previews {
    margin-top: $margin;
  }
}