@import "work-includes";
@import "mixins";

final-fixes {
  .winner {
    @include flex-center(center, $spacing);

    .download {
      @include vertical-align-middle();

      p {
        margin-left: $spacing-smallest;
        line-height: 24px;
      }
    }
  }

  .approval {
     @include flex-center(flex-start, $spacing);

     padding-left: 0;

    .confirm {
      button {
        text-transform: uppercase;
      }
    }
  }
}