@import "work/work-includes";

.file-detail-messaging {
  @include transition (all 0.3s ease-in-out);

  position        : absolute;
  width           : 300px;
  right           : -300px;
  padding         : 10px;
  overflow        : hidden;
  background-color: $grey-lightest;
  border-left     : 1px solid $grey;

  &.active {
    right: 0;
  }

  .title {
    hr {
      background-color: $grey-light;
      margin: 15px 0;
      width: 100%;
    }

    .name {
      @include ellipsis(120px);

      margin-left: 10px;
      font-weight: bold;
    }
  }

  .messages {
    overflow: auto;

    time {
      margin-left: 10px;
      font-size: 12px;
    }

    ul {
      > li {
        border-top: 1px solid $grey-light;
        padding: 5px;

        &:first-child {
          border-top: none;
        }
      }

      .message {
        margin: 0 0 0 42px;
      }
    }
  }

  .send {
    form {
      margin-top: 15px;

      textarea {
        width  : 100%;
        border : 0;
      }

      button.enter {
        margin-top: 15px;
        width: 100%;
      }
    }
  }

}
