@import "work-includes";

@mixin submission-headers() {
  > h1, > h3, > h4 {
    text-align: center;
  }

  > h3 {
    text-transform: uppercase;
    color: $primary-color;
  }

  > h4 {
    color: $primary-color-light;
  }
}