@import "work/work-includes";
@import "variables";

rank-list {
  $radius: 40px;

  max-width : 568px;
  margin    : 0 auto;
  margin-top: 25px;
  text-align: center;

  > ul {
    @include vertical-align-middle();

    > li {
      margin-left: 12px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .shell, avatar {
    width        : $radius;
    height       : $radius;
    border-radius: 50%;
    border       : 1px solid $grey;
  }

  avatar {
    position: absolute;
    top     : -1px;
    left    : -1px;
  }

  .shell {
    font-size   : 18px;
    border-style: dashed;
    position    : relative;
    color       : $black;
    font-weight : 400;

    .rank {
      position        : absolute;
      border-radius   : 50%;
      width           : 38px; // remember to subtract border-widths
      line-height     : 38px; // remember to subtract border-widths
    }

    &.has-user {
      .rank {
        background-color: $grey-darker;
        opacity         : 0;
        color           : $white;
        cursor          : move;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}