@import "work-includes";

submissions {
  width: 100%;

  button.confirm {
    @include block-center();

    text-transform: uppercase;
  }

  .top-selection {
    @include flex-center;
    @include justify-content(space-between);

    width : 260px;
    margin: $spacing-big auto;

    li {
      $radius: 40px;

      avatar, .shell {
        max-width : $radius;
        max-height: $radius;
      }

      avatar {
        @include block-center;

        margin-bottom: $spacing-smallest;
      }

      .shell {
        font-size     : $font-size-big;
        line-height   : $radius - 2px * 2;
        border        : 2px dashed $primary-color;
        border-radius : 50%;
        text-align    : center;
        vertical-align: middle;
      }
    }
  }

  .submission {
    display  : flex;
    flex-wrap: nowrap;
    height   : 60px;
    padding  : $spacing-small;

    &:first-child {
      margin-top: 0;
    }

    ul.user-details {
      @include flex-center(flex-start, $spacing-big);
      flex-grow: 0;
      min-width: 200px;

      .name-time {
        min-width: 120px;
        max-width: 120px;

        .name {
          @include ellipsis();
        }

        time {
          display: block;
        }
      }
    }

    ul.actions {
      @include flex-center(space-between, $spacing-big);
      flex-grow: 0;
      min-width: 250px;

      .comments {
        .icon {
          margin: 0 auto;
        }
      }
    }

    ul.thumbnails {
      display  : flex;
      flex-wrap: wrap;
      flex-grow: 1;
      overflow : hidden;

      .thumbnail {
        .img {
          width           : 50px;
          height          : 40px;
          background-color: purple;
          margin          : 0 $spacing-small $spacing-small 0;
        }
      }
    }
  }
}
