@import "work-includes";

submission-slides {
  ul.header {
    @include flex-center(space-between);

    li {
      display    : flex;
      align-items: center;
    }

    .avatar {
      width           : 40px;
      height          : 40px;
      background-color: grey;
    }

    .name-time {
      margin-left: $spacing;
    }

    .icons {
      @include flex-center(flex-start, $spacing);
    }
  }

  ul.slideshow {
    @include flex-center(space-between);

    .left-arrow {
      width           : 50px;
      height          : 80px;
      background-color: purple;
    }

    .right-arrow {
      width           : 50px;
      height          : 80px;
      background-color: purple;
    }

    .preview {
      max-width: 200px;

      p {
        text-align: center;
        margin-top: $spacing-big;

        @include ellipsis();
      }

      .img-container {
        @include flex-center();
        @include flex-direction(column);
        @include justify-content(center);

        width : 200px;
        height: 400px;

        img {
          max-width: 200px;
          max-height: 400px;
        }
      }
    }
  }

  ul.thumbnails {
    @include flex-center(center, $spacing);

    margin-top: $spacing-big;

    button {
      position: relative;

      img {
        width  : 40px;
        height : 40px;
        display: block;
      }

      .notification {
        background-color: $color-danger;
        color           : white;
        position        : absolute;
        top             : -5px;
        right           : -5px;
        padding         : 2px 4px;
        border-radius   : $border-radius-small;
        font-size       : $font-size-small;
      }
    }
  }
}