@import "work-includes";
@import "mixins";

submissions {
  position: relative;
  display : inline-block;

  @include submission-headers();

  > ul {
    margin-top : $spacing;
  }

  .submission {
    display    : flex;
    align-items: center;

    &:first-child {
      margin-top: 0;
    }

    ul.user-details {
      @include flex-center(flex-start, $spacing-small);

      .name-time {
        min-width  : 120px;
        max-width  : 120px;

        .name {
          @include ellipsis();
        }

        time {
          display: block;
        }
      }

      avatar {
        margin-left: $spacing;
      }
    }

    ul.actions {
      @include flex-center(space-between, $spacing-small);
    }

    ul.thumbnails {
      @include flex-center(flex-start, $spacing-small);

      .thumbnail {
        .img {
          width           : 50px;
          height          : 40px;
          background-color: purple;
        }
      }
    }
  }
}