@import "work-includes";

submissions {
  width: 100%;

  button.confirm {
    @include block-center();

    text-transform: uppercase;
  }

  .top-selection {
    @include flex-center;
    @include justify-content(space-between);

    width : 260px;
    margin: $spacing-big auto;

    li {
      $radius: 40px;

      .shell, avatar, .overlay {
        width : $radius;
        height: $radius;
        border-radius : 50%;
      }

      avatar {
        margin-bottom: $spacing-smallest;
        position: absolute;
        top: 0;
        left: 0;
      }

      .shell {
        font-size     : $font-size-big;
        border        : 2px dashed $primary-color;
        position: relative;

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;

          span {
            display: block;
            color: $primary-color-darkest;
          }
        }

        &.has-avatar {
          border-color: #fff;
          cursor: pointer;

          .overlay {
            background-color: $primary-color-darkest;
            opacity: 0;

            &:hover {
              opacity: 0.9;

              span {
                display: block;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  ul.submissions {
    max-height: 400px;
    overflow-y: scroll;
  }

  .submission {
    display  : flex;
    flex-wrap: nowrap;
    height   : 60px;
    padding  : $spacing-small;

    &:first-child {
      margin-top: 0;
    }

    ul.user-details {
      @include flex-center(flex-start, $spacing-big);
      flex-grow: 0;
      min-width: 200px;

      .name-time {
        min-width: 120px;
        max-width: 120px;

        .name {
          @include ellipsis();
        }

        time {
          display: block;
        }
      }
    }

    ul.actions {
      @include flex-center(space-between, $spacing-big);
      flex-grow: 0;
      min-width: 250px;

      .comments {
        .icon {
          margin: 0 auto;
        }
      }
    }

    ul.thumbnails {
      display  : flex;
      flex-wrap: wrap;
      flex-grow: 1;
      overflow : hidden;

      .thumbnail {
        .img {
          width           : 50px;
          height          : 40px;
          background-color: purple;
          margin          : 0 $spacing-small $spacing-small 0;
        }
      }
    }
  }
}
