@import "work-includes";

submission-slides {
  ul.header {
    @include flex-center(space-between);

    li {
      display    : flex;
      align-items: center;
    }

    .avatar {
      width           : 40px;
      height          : 40px;
      background-color: grey;
    }

    .name-time {
      margin-left: $spacing;
    }

    .bubble {
      margin-left: $spacing;
    }
  }

  ul.slideshow {
    @include flex-center(space-between);

    .left-arrow {
      width           : 50px;
      height          : 80px;
      background-color: purple;
    }

    .right-arrow {
      width           : 50px;
      height          : 80px;
      background-color: purple;
    }

    .preview {
      max-width: 200px;

      p {
        text-align: center;
        margin-top: $spacing-big;

        @include ellipsis();
      }

      .img-container {
        width          : 200px;
        height         : 400px;
        display        : flex;
        justify-content: center;
        flex-direction : column;
        align-items    : center;

        img {
          max-width: 200px;
          max-height: 400px;
        }
      }
    }
  }

  ul.thumbnails {
    margin    : 0 auto;
    margin-top: $spacing-big;
    max-width : 360px;

    @include flex-center(space-between);

    li {
      button {
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
      }
      .img {
        width: 30px;
        height: 30px;
        background-color: pink;
      }
    }
  }
}