ul.files.flex
  li.flex-one(ng-repeat="file in vm.files track by $index")

    a(href="{{ file.detailUrl }}")
      img(ng-src="{{ file.url }}")

    .view-all-bg(ng-if="file.isLast")
      div

    a.view-more(ng-if="file.isLast" href="{{ viewAllUrl }}")
      p.flex.middle.center
        span(ng-if="vm.viewAll") View All
        span(ng-if="vm.viewMore") +{{ vm.more }} More