loader(ng-hide="vm.loaded")

main.flex.column
  .header.flex
    .flex-grow.submitter
      avatar(avatar-url="{{ vm.submission.submitter.avatar }}")

      .name-time
        p.name {{ vm.submission.submitter.handle }}

        time Submitted: {{ vm.submission.createdAt | timeLapse }}

    .title.flex-shrink.flex-grow
      strong {{ vm.file.name }}

    .flex-grow.icons
      button.clean
        a(href="{{ vm.file.url }}" target="_blank")
          .icon.download

      button.clean(ng-click="vm.toggleComments()")
       .icon.envelope

  .content.flex.flex-grow
    .slideshow.flex.column.flex-grow
      .preview.flex.center.flex-grow.flex-shrink
        .previous.flex.flex-grow
          a.arrow-previous(ng-if="vm.prevFile", ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submission.id, fileId: vm.prevFile.id})")
            button.clean.icon.arrow.big

        .image.flex.column.center
          .img-container.flex
            img(ng-src="{{ vm.file.url }}")

        .next.flex.flex-grow
          a.arrow-next(ng-if="vm.nextFile", ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submission.id, fileId: vm.nextFile.id})")
            button.clean.icon.arrow.right.big

      .thumbnails
        ul
          li.thumbnail(ng-repeat="file in vm.submission.files")
            button.clean.thumbnail
              a(ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submission.id, fileId: file.id})")
                img(ng-src="{{ file.url }}")

              .notification.absolute(ng-if="file.unreadMessages > 0") {{ file.unreadMessages }}

    include parts/messaging



