ul.files
  li(ng-repeat="file in files track by $index")
    .spacer
      a(href="{{ file.detailUrl }}" style="background-image: url({{ file.url }})" ng-if="vm.isImage(file)")
        thumbnail-notification(unread-messages="file.unreadMessages" total-messages="file.totalMessages")