main
  loader(ng-hide="vm.loaded")

  ul.header
    li.submitter
      avatar(avatar-url="{{ vm.submission.submitter.avatar }}")

      .name-time
        p.name {{ vm.submission.submitter.handle }}

        time Submitted: {{ vm.submission.createdAt | timeLapse }}

    li.icons
      button.clean
        a(href="{{ vm.file.url }}" target="_blank")
          .icon.download

      button.clean(ng-click="vm.toggleComments()")
       .icon.envelope

  hr

  aside.messaging.flex.column(ng-class="{ active: vm.showComments }" flush-height=true)
    h4 File Comments

    hr

    include parts/messaging

  ul.slideshow
    li
      a(ng-if="vm.prevFile", ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submission.id, fileId: vm.prevFile.id})")
        button.clean.icon.arrow.big


    li.preview
      p {{ vm.file.name }}

      .img-container
        img(ng-src="{{ vm.file.url }}")


    li
      a(ng-if="vm.nextFile", ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submission.id, fileId: vm.nextFile.id})")
        button.clean.icon.arrow.right.big

  ul.thumbnails
    li.thumbnail(ng-repeat="file in vm.submission.files")
      button.clean.thumbnail
        a(ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submission.id, fileId: file.id})")
          img(ng-src="{{ file.url }}")

          .notification.absolute(ng-if="file.unreadMessages > 0") {{ file.unreadMessages }}

