file-detail-slide(
  files            = "vm.files"
  starting-file    = "vm.startingFile"
  submitter-avatar = "vm.sumbitterAvatar"
  submitter-handle = "vm.submitterHandle"
  userType         = "vm.userType"
  status           = "vm.status"
  messages         = "vm.messages"
  newMessage       = "vm.newMessage"
  showMessages     = "vm.showMessages"
  sendMessage      = "vm.sendMessage"
  canComment       = "vm.canComment"
)
