main
  loader(ng-show="!vm.loaded")

  ul.header
    li.submitter
      avatar(avatar-url="{{ vm.submission.submitter.avatar }}")

      .name-time
        .name {{ vm.submission.submitter.handle }}

        time Submitted: {{ vm.submission.createdAt | timeLapse }}

    li.icons
      button.clean
        a(href="{{ vm.file.url }}")
          .icon.download

      button.clean(ng-click="vm.toggleComments()")
       .icon.bubble

  hr

  aside.messaging(ng-class="{ active: vm.showComments }")
    h4 Submission comments

    hr

    include parts/messaging

  ul.slideshow
    li
      a(ng-if="vm.prevFile", ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submission.id, fileId: vm.prevFile.id})")
        button.clean.icon.circle-arrow.biggest


    li.preview
      .img-container
        img(ng-src="{{ vm.file.url }}")

      p {{ vm.submission.files[vm.selectedPreviewIndex].name }}

    li
      a(ng-if="vm.nextFile", ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submission.id, fileId: vm.nextFile.id})")
        button.clean.icon.circle-arrow.right.biggest

  ul.thumbnails
    li.thumbnail(ng-repeat="file in vm.submission.files")
      button.clean.thumbnail
        a(ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submission.id, fileId: file.id})")
          img(ng-src="{{ file.url }}")

          .notification {{ file.unreadMessages }}

