loader(ng-show="!vm.loaded")

include parts/header

.subheader(ng-if="vm.status == 'scheduled'")
  img.icon.biggest(src="/images/clock.svg")

  p Final Fixes Phase starts in

  countdown.block(end="{{ vm.work.phase.startDate }}")

  hr

  ul.winners
    li
      .rank <strong>winner</strong>

      avatar(avatar-url="{{vm.submission.submitter.avatar}}")

      a.name(href="#") {{vm.submission.submitter.handle}}

.subheader(ng-if="vm.status == 'closed'")
  p Project Complete! Review final submission

.subheader(ng-if="vm.status == 'open'")
  p Give your final feedback to complete this design project.

  countdown.block(end="{{ vm.work.phase.endDate }}")

  p.duration remaining to give feedback

.buttons.flex.space-between.wrap
  button.download(ng-if="vm.status == 'open' || vm.status == 'closed'")
    .icon.download.smallest

    span download files

  button.action(ng-click="vm.confirmApproval()" ng-if="vm.status == 'open'") confirm final approval

hr

ul.flex.wrap.previews(ng-if="vm.status == 'open' || vm.status == 'closed'")
  li.preview(ng-repeat="file in vm.submission.files track by $index" fitted-width=true)
    img.img(ng-src="{{ file.url }}" ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submission.id, fileId: file.id})")
