loader(ng-show="vm.loading")

include parts/header

include parts/timeline

section(ng-if="!vm.open")
  h4 Final Fixes Phase starts in &hellip;

  countdown(end="{{ vm.phase.current.startDate }}")

section(ng-if="vm.open")
  h4(ng-if="!vm.approvalConfirmed") Give final feedback and accept the submission to complete the design project.

  h4(ng-if="vm.approvalConfirmed") Project Complete! Review Final Submission.

  countdown(ng-if="!vm.approvalConfirmed" end="{{ vm.work.phase.endDate }}")

  p.duration(ng-if="!vm.approvalConfirmed") remaining to give feedback

  ul.winner
    li
      avatar

    li Alpha User is the Winner!

    li.download
      button.clean.icon.download

      p Download final submission

    li(ng-if="vm.approvalConfirmed")
      a(ui-sref="submission-slides({workId: vm.workId, submissionId: vm.submissionId})") View previous submission comments

  hr

  ul.approval(ng-if="!vm.approvalConfirmed")

    li.approve-all
      input(type="checkbox" ng-model="vm.approveAll" ng-true-value="true" ng-false-value="false")

      label Approve all

    li.confirm
      button.info(ng-show="vm.showConfirmApproval" ng-click="vm.confirmApproval()") Confirm final approval

  ul.previews
    li.preview(ng-repeat="file in vm.files track by $index")
      ul.icons
        li.notification
          button.clean 1

        li
          button.clean
            .icon.download.smallest

      img.img(ng-src="{{ file.thumbnailUrl }}" ui-sref="submission-slides({workId: vm.workId, submissionId: vm.submissionId, fileId: file.id})")

      p {{ file.name }}

