submissions-header(text="final development" next="http://www.google.com" prev="http://www.google.com")

hr

main.light-bg
  .message
    p Co-Pilot Message

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


  image-row(thumbnails="vm.thumbnails" view-all-text="+3 more"  view-all="http://www.google.com")

.links
  p Clickable Prototype

  ul
    li
      a(href="http://www.google.com") http://www.google.com

    li
      a(href="http://www.google.com") http://www.google.com

.links
  p Other Links

  ul
    li
      a(href="http://www.google.com") http://www.google.com

    li
      a(href="http://www.google.com") http://www.google.com

loader(ng-show="!vm.loaded")
