div(ng-if="!vm.showWinners")
  ul.top-selection(ng-if='!vm.locked')
    li(ng-repeat='rank in vm.ranks track by $index')
      .shell(
        ng-class="{ 'has-user': rank.id }"
        ondragenter='return false'
        ondragover='return false'
        on-drop='vm.drop.handle(event, rank.value)'
      )
        div(ng-if='rank.id', data-id='{{ rank.id }}', draggable)
          avatar(avatar-url='{{ rank.avatarUrl }}')

          .rank {{ rank.value }}

        .rank(ng-if='!rank.id') {{ rank.value }}

    li(ng-show='vm.confirm')
      button.action(ng-click='vm.confirmRanks()') Confirm your selections

  ul.top-selection(ng-if='vm.locked')
    li(ng-repeat='rank in vm.ranks track by $index')
      .shell(ng-class="{ 'has-user': rank.id }")
        div(ng-if='rank.id', data-id='{{ rank.id }}')
          avatar(avatar-url='{{ rank.avatarUrl }}')

          .rank {{ rank.value }}

        .rank(ng-if='!rank.id') {{ rank.value }}

div(ng-if="vm.showWinners")
  submission-winners(project-id='{{ vm.projectId }}' step-id='{{ vm.stepId }}')