ul.thumbnails.flex
  li.flex-one(ng-repeat="thumbnail in thumbnails track by $index")

    a(href="{{ thumbnail.link }}")
      img(ng-src="{{ thumbnail.url }}")

    .tooltip.elevated(ng-if="(thumbnails.length != $index + 1 || !viewAll) && toolTip")
      .arrow

      a.preview(href="{{ thumbnail.link }}")
        img(ng-src="{{ thumbnail.url }}")

      a(href="{{ thumbnail.link }}")
        .icon.envelope

      a(href="{{ thumbnail.url }}", target="_blank")
        .clean.icon.download

    .view-all-bg(ng-if="(thumbnails.length == $index + 1) && viewAll")
      div

    a.view-more(ng-if="(thumbnails.length == $index + 1) && viewAll" href="{{ viewAll }}")
      p.flex.middle.center
        span {{ viewAllText || 'View All' }}