loader(ng-hide='vm.loaded')

ul.header.flex.middle
  li.flex-grow.submitter
    a(ui-sref='step({projectId: vm.projectId, stepId: vm.stepId})') All Submissions

    a(href="{{vm.generateProfileUrl(vm.submission.submitter.handle)}}" target="_blank")
      avatar(avatar-url='{{ vm.submission.submitter.avatar }}')

    a(href="{{vm.generateProfileUrl(vm.submission.submitter.handle)}}" target="_blank")
      .name {{ vm.submission.submitter.handle }}

  li
    rank-dropdown(project-id='{{ vm.projectId }}', step-id='{{ vm.stepId }}', submission-id='{{ vm.submissionId }}', user-type='{{ vm.userType }}')

  li.download
    a(href='{{ vm.submission.downloadUrl }}', target='_blank')
      .icon.download.small

hr

file-grid(files='vm.submission.files')
