loader(ng-hide='vm.loaded')

submissions-header(project-id='{{ vm.projectId }}' step-id='{{ vm.stepId }}')

include parts/subheader-customer
include parts/subheader-copilot
include parts/subheader-member

rank-list(ng-if="vm.statusValue > 3 && (vm.stepType == 'designConcepts' || vm.stepType == 'completeDesigns')" project-id='{{ vm.projectId }}' step-id='{{ vm.stepId }}' user-type='{{ vm.userType }}')

submission-list(ng-if="vm.statusValue > 3 && (vm.stepType == 'designConcepts' || vm.stepType == 'completeDesigns')" project-id='{{ vm.projectId }}' step-id='{{ vm.stepId }}' user-type='{{ vm.userType }}')

grid-of-thumbnails(ng-if="vm.statusValue > 3 && vm.stepType == 'finalFixes'" thumbnails='vm.submissions[0].files')
