h1.work-name {{ vm.workName }} : {{ vm.workType }}

h3 Screening Submissions Phase

h4 Review and comment on submissions. Choose the participants that will move to the final phase.

ul.submissions
  li.submission(ng-repeat="submission in vm.screeningSubmissions track by $index")
    .avatar

    .submitter
      .name {{ submission.name }}

      time {{ submission.createdAt }}

    ul.thumbnails
      li.thumbnail(ng-repeat="i in [1, 2, 3, 4] track by $index")
        .img

    ul.actions
      li.view
        a(href="#") and 123 more

      li
        .checkmark

      li
        .bubble

h3 Final Submissions

ul.submissions
  li.submission(ng-repeat="submission in vm.screeningSubmissions track by $index")
    .avatar

    .submitter
      .name {{ submission.name }}

      time {{ submission.createdAt }}

    ul.thumbnails
      li.thumbnail(ng-repeat="i in [1, 2, 3, 4] track by $index")
        .img

    ul.actions
      li.view
        a(href="#") and 123 more

      li
        .checkmark

      li
        .bubble
