- ranks = ['1st Place', '2nd Place', '3rd Place', '4th Place', '5th Place']

loader(ng-hide="vm.loaded")

include parts/header

include parts/timeline

h4 Submissions for the Design Concept Phase coming in &hellip;

h4 Final Design Phase starts in &hellip;

include parts/countdown

h4 Give feedback and select the top 5 design concepts.

p.duration You have 39 hours to give feedback

ul.top-selection
  - each rank, i in ranks
    li
      .shell #{i + 1}

      avatar

      .rank #{rank}

button.confirm.info Confirm your selections

hr

ul.submissions.color-even
  li.submission(ng-repeat="submission in vm.submissions.screeningSubmissions track by $index")
    ul.user-details
      li
        avatar(avatar-url="{{ submission.submitter.avatarUrl }}")

      li
        .name-time
          .name {{ submission.submitter.handle }}

          time {{ submission.createdAt | timeLapse }}

    ul.thumbnails
      li.thumbnail(ng-repeat="file in submission.files track by $index")
        a(ui-sref="submission-slides({submissionId: submission.id, index: $index})")
          img.img(ng-src="{{ file.thumbnailUrl }}")

    ul.actions
      li
        a(ui-sref="submission-detail({submissionId: submission.id})") view all (12)

      li.comments
        | 20/28

        .icon.bubble

      li
        select
          - each rank, i in ranks
            option(value="#{ i + 1 }")=rank

