loader(ng-hide="vm.loaded")

ul.header.flex.middle
  li.flex-grow.submitter
    a(ui-sref="step({projectId: vm.projectId, stepId: vm.stepId})") All Submissions

    avatar(avatar-url="{{ vm.submission.submitter.avatar }}")

    .name {{ vm.submission.submitter.handle }}

  li(ng-if="vm.userType != 'member' && vm.status != 'CLOSED'")
    select(ng-model="vm.submission.rank", ng-change="vm.handleRankSelect(vm.submission)", ng-options="rank.value as rank.label for rank in vm.ranks")

  li(ng-if="vm.status == 'CLOSED' && vm.rank") {{ vm.rank }}

  li.download
    a(href="{{ vm.submission.downloadUrl }}", target="_blank")
      .icon.download.small

hr

grid-of-thumbnails(thumbnail-groups="vm.thumbnailGroups")
