header.flex.column.middle
  avatar(avatar-url="{{ avatarUrl }}")

  h6.name {{ nameText }}
    span(ng-if='belongsToUser') (Me)

  p.secondary Project Contributor

hr

footer.flex.column.middle.center
  .rank(ng-if="rank") {{ rank }}

  .place(ng-if="rank") place

  .winner(ng-if="!rank") winner!