
ul.actions
  li.submitter
    .avatar

    .name-time
      .name {{vm.work.submitter.handle}}

      time {{vm.work.createdAt | date: 'h:mm a, MMMM d, y'}}

  li.accept
    button.checkmark(ng-click="vm.acceptSubmission()")

    p(ng-if="!vm.submissionAccepted") Accept this submission
    p(ng-if="vm.submissionAccepted") Submission Accepted

  li.comment
    button.bubble

    p Comment on this submission

ul.previews
  li.preview(ng-repeat="file in vm.work.files track by $index")
    .checkmark

    button.img(ui-sref="submission-slides")
      img(src="file.thumbnailUrl")

    p {{file.name}}