h4.work-name {{ vm.work.name }} : {{ vm.work.type }}

ul.actions
  li.submitter
    .avatar

    .name-time
      .name {{vm.work.submitter.name}}

      time Submitted: {{vm.work.dateCreated}}

  li.accept
    .checkmark

    p(ng-if="!vm.submissionAccepted", ng-click="vm.acceptSubmission()") Accept this submission
    p(ng-if="vm.submissionAccepted") Submission Accepted

  li.comment
    .bubble

    p Comment on this submission

ul.previews
  li.preview(ng-repeat="file in vm.work.files track by $index")
    .checkmark

    button.img(ui-sref="submission-slides")

    p a-long-freaking-name-oh-baby-jesus