.submitter
  a(href="") submissions

  .arrow &rsaquo;

  avatar(avatar-url="{{ vm.submission.submitter.avatar }}")

  .name {{ vm.submission.submitter.handle }}

p.download
  button.clean
    .icon.download.small

select(ng-model="vm.submission.rank", ng-change="vm.handleRankSelect(vm.submission)", ng-init="")
  option(ng-repeat="rank in vm.rankNames", value="$index+1", ng-selected="{{ $index+1 == vm.submission.rank }}") {{ rank }}

hr

ul.previews
  li.preview(ng-repeat="file in vm.submission.files track by $index")
    a(ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submissionId, fileId: file.id})")
      img.img(ng-src="{{ file.images.small }}")

    p {{ file.name }}
