h4.work-name {{ vm.workName }} : {{ vm.workType }}

ul.actions
  li.submitter
    .avatar

    p
      span Rafael

      time Submitted: 12:30 June 24 2015

  li.accept
    .checkmark

    p Accept this submission

  li.comment
    .bubble

    p Comment on this submission

ul.previews
  li.preview(ng-repeat="preview in [1, 2, 3, 4, 5, 6] track by $index")
    .checkmark

    .img

    p a-long-freaking-name-oh-baby-jesus