loader(ng-show="vm.loaded")

h1.work-name {{ vm.submissions.workName }} : {{ vm.submissions.workType }}


hr

h3 Screening Submissions Phase

h4 Review and comment on submissions. Choose the participants that will move to the final phase.

ul.submissions
  li.submission(ng-repeat="submission in vm.submissions.screeningSubmissions track by $index")
    ul.user-details
      li
        avatar(avatar-url="http://www.topcoder.com/i/m/cardiboy_big.jpg")


      li
        .name-time
          .name {{ submission.submitter.handle }}

          time {{ submission.createdAt }}

    ul.thumbnails
      li.thumbnail(ng-repeat="file in submission.files track by $index")
        .img

    ul.actions
      li.view
        a(href="#") and 123 more

      li
        .checkmark

      li
        .bubble

hr

h3 Final Submissions

h4 Begins in 3 days
