loader(ng-hide="vm.loaded")

include parts/header

include parts/timeline

section(ng-if="!vm.open")
  h4 Submissions for the {{ vm.phase.current.name }} Phase coming in &hellip;
  countdown(end="{{ vm.phase.current.startDate }}")

section(ng-if="vm.open")
  h4 Give feedback and select the top {{ vm.ranks.length }} designs.

  countdown(end="{{ vm.phase.current.endDate }}")

  p.duration remaining to give feedback

  ul.top-selection(dragula="'ranked-submissions'")
    li(ng-repeat="rank in vm.ranks track by $index")
      .shell.hasAvatar(ng-if="rank.avatarUrl")
        avatar(avatar-url="{{ rank.avatarUrl }}")
        span {{rank.label.slice(0, -6)}}

      .shell(ng-if="!rank.avatarUrl") {{rank.value + 1}}


  button.confirm.info(ng-show="vm.showConfirm") Confirm your selections

  hr

  ul.submissions.color-even
    li.submission(ng-repeat="submission in vm.submissions track by $index")
      ul.user-details
        li
          avatar(avatar-url="{{ submission.submitter.avatarUrl }}")

        li
          .name-time
            .name {{ submission.submitter.handle }}

            time {{ submission.createdAt | timeLapse }}

      ul.thumbnails
        li.thumbnail(ng-repeat="file in submission.files track by $index")
          a(ui-sref="submission-slides({workId: vm.workId, submissionId: submission.id, fileId: file.id})")
            img.img(ng-src="{{ file.thumbnailUrl }}")

      ul.actions
        li
          a(ui-sref="submission-detail({workId: vm.workId, submissionId: submission.id})") view all ({{ submission.files.length }})

        li.comments
          | 20/28

          .icon.bubble

        li
          select(ng-model="submission.rank", ng-change="vm.reorder(submission)", ng-init="")
            option(ng-repeat="rank in vm.rankNames", value="{{ $index }}", ng-selected="{{ $index == submission.rank }}") {{ rank }}

