
ul.actions
  li.submitter
    avatar(avatar-url="{{vm.work.submitter.avatarUrl}}")

    .name-time
      .name {{vm.work.submitter.handle}}

      time {{vm.work.createdAt | date: 'h:mm a, MMMM d, y'}}

  li.accept
    button.clean.icon.checkmark(ng-click="vm.acceptSubmission()")

    p(ng-if="!vm.submissionAccepted") Accept this submission

    p(ng-if="vm.submissionAccepted") Submission Accepted

  li.comment
    button.clean.icon.bubble

    p Comment on this submission

ul.previews
  li.preview(ng-repeat="file in vm.work.files track by $index")
    .checkmark-container
      .icon.checkmark.smallest

    img.img(src="{{file.thumbnailUrl}}" ui-sref="submission-slides")

    p {{file.id}}