loader(ng-hide="vm.loaded")

h1(ng-if="vm.phase != 'Final'") Concept Designs

h1(ng-if="vm.phase == 'Final'") Final Designs

ul.timeline
  li

  li.active

  li

h4 Give feedback and select the top 5 design concepts.

p.duration You have 39 hours to give feedback

ul.top-selection
  - each i in [1, 2, 3, 4, 5]
    li.vacant=i

    li
      avatar

button.confirm.info Confirm your selections

hr

ul.submissions.color-even
  li.submission(ng-repeat="submission in vm.submissions.screeningSubmissions track by $index")
    ul.user-details
      li
        avatar(avatar-url="{{ submission.submitter.avatarUrl }}")

      li
        .name-time
          .name {{ submission.submitter.handle }}

          time {{ submission.createdAt | timeLapse }}

    ul.thumbnails
      li.thumbnail(ng-repeat="file in submission.files track by $index")
        a(href="{{ file.url }}")
          img.img(ng-src="{{ file.thumbnailUrl }}")

    ul.actions
      li
        a(ui-sref="submission-slides") view all (12)

      li.comments
        | 20/28

        .icon.bubble

      li
        select
          - each rank, i in ['1st Place', '2nd Place', '3rd Place', '4th Place', '5th Place']
            option(value="#{ i + 1 }")=rank

