ul.header.flex.center
  li.previous
    a(ng-class="{ invisible: !vm.prev }" href="{{ vm.prev }}")
      .icon.arrow

  li
    h1 {{ vm.title }}

  li.next
    a(ng-class="{ invisible: !vm.next }" href="{{ vm.next }}")
      .icon.arrow.right
