loader(ng-hide="vm.loaded")

include parts/header

.subheader(ng-if="vm.status == 'scheduled'")
  .icon.warning.biggest

  p Submissions for the {{ vm.stepName }} Phase coming in &hellip;

  countdown(end="{{ vm.startsAt }}")

.subheader(ng-if="vm.status == 'closed'")
  p Congratulations! These are your {{ vm.stepName }} winners.

  hr.small

  ul.winners
    li(ng-repeat="rank in vm.ranks")
      .rank <strong>{{rank.label.slice(0, -5)}}</strong><br /> place

      avatar(avatar-url="{{rank.avatarUrl}}")

      a.name(href="#") {{rank.handle}}


  button.wider.action view submissions

.subheader(ng-if="vm.status == 'open'")
  p Give feedback and select the top {{ vm.ranks.length }} designs. You have
  countdown(end="{{vm.endsAt}}")
  p hours to give feedback.

  ul.top-selection
    li(ng-repeat="rank in vm.ranks")
      .shell(
        dragula="'ranked-submissions'"
        dragula-scope="$parent"
        ng-class="{ 'has-avatar': rank.avatarUrl }"
        data-rank="{{ $index }}"
      )
        .draggable(ng-if="rank.avatarUrl" data-id="{{ rank.id }}")
          avatar(avatar-url="{{ rank.avatarUrl }}")

          .rank {{ rank.value }}

        .rank(ng-if="!rank.avatarUrl") {{ rank.value }}

    li(ng-if="vm.rankUpdatePending")
      .loader

    li(ng-show="vm.allFilled")
      button.action(ng-click="vm.confirmRanks()") Confirm your selections 

  p(ng-if="vm.rankUpdateError") {{ vm.rankUpdateError }}

ul.submissions
  li.submission.elevated(ng-repeat="submission in vm.submissions track by $index")
    ul.user-details
      li
        avatar(avatar-url="{{ submission.submitter.avatar }}")

      li
        .name-time
          .name {{ submission.submitter.handle }}

          time {{ submission.createdAt | timeLapse }}

    ul.thumbnails
      li.thumbnail(ng-repeat="file in submission.files track by $index")
        a(ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: submission.id, fileId: file.id})")
          img.img(ng-src="{{ file.images.thumbnail }}")

        .pop-over
          a.preview(ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: submission.id, fileId: file.id})")
            img.previewImage(ng-src="{{ file.images.large }}")


          .icon.bubble

          a(href="{{ file.images.full }}", target="_blank")
            .clean.icon.download

    ul.actions
      li
        a(ui-sref="submission-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: submission.id})") Show all

      li.comments
        .icon.download.small

      li(ng-if="vm.status == 'closed' && submission.rank")
        a(href="#", target="_blank")
          .clean.icon.download

      li(ng-if="vm.status == 'open'")
        select(ng-model="submission.rank", ng-change="vm.handleRankSelect(submission)", ng-init="")
          option(ng-repeat="rank in vm.ranks", value="rank.value", ng-selected="{{ rank.value == submission.rank }}") {{ rank.label }}

      li(ng-if="vm.status == 'closed'") {{ vm.rankNames[submission.rank -1] }}
