ul.header
  li.submitter
    avatar(avatar-url="http://www.topcoder.com/i/m/cardiboy_big.jpg")

    .name-time
      .name {{vm.work.submitter.handle}}

      time {{vm.work.createdAt | date: 'h:mm a, MMMM d, y'}}

  li
    .checkmark

    .bubble

hr

ul.slideshow
  li
    button.left-arrow(ng-click="vm.previewPrevious()")

  li.preview
    .img
      img.img(src="{{vm.selectedPreview.url}}")

    p {{vm.work.files[vm.selectedPreviewIndex]['id']}}

  li
    button.right-arrow(ng-click="vm.previewNext()")

ul.thumbnails
    li.thumbnail(ng-repeat="file in vm.work.files")
      button.thumbnail
        img.img(src="{{file.thumbnailUrl}}", ng-click="vm.previewSelected($index)")
