ul.actions
  li.submitter
    avatar(avatar-url="{{ vm.work.submitter.avatarUrl }}")

    .name-time
      .name {{ vm.work.submitter.handle }}

      time {{ vm.work.createdAt | date: 'h:mm a, MMMM d, y' }}

  li.position
    select(ng-model="vm.work.rank" ng-change="vm.selectPosition()")
      option(ng-repeat="position in vm.positions" value="{{ $index }}" ng-selected="{{ $index == vm.work.rank }}") {{ position }}

  li.submissionsCount
    p {{ vm.submissionsCount }} Submissions

ul.previews
  li.preview(ng-repeat="file in vm.work.files track by $index")
    ul.icons
      li.notification
        button.clean 1

    a(ui-sref="submission-slides({workId: vm.workId, submissionId: vm.submissionId, fileId: file.id})")
      img.img(ng-src="{{ file.thumbnailUrl }}")

    p {{ file.name }}
