loader(ng-hide="vm.loaded")

submissions-header(project-id="{{ vm.projectId }}" step-id="{{ vm.stepId }}")

top-selections

p.total-count 32 submissions

hr.total-count

ul.submissions.new(ng-if="vm.statusValue > 3")
  li.submission(ng-repeat="submission in vm.submissions track by $index" data-id="{{ submission.id }}" ng-class="{ 'belongs-to-user': submission.belongsToUser }" draggable)
    ul.user-details.flex.middle.space-between
      li.flex.middle
        avatar(avatar-url="{{ submission.submitter.avatar }}")

        .name-time
          .name {{ submission.submitter.handle }}
            span(ng-if="submission.belongsToUser") &nbsp;(Me)

          p.secondary {{ submission.files.length }} Images

      li
        ul.flex.middle.actions
          li
            a(href="{{ submission.downloadUrl }}" target="_blank")
              .icon.download.small

          li(ng-if="vm.userType != 'member' && vm.status != 'CLOSED'")
            select(
              ng-model="submission.rank"
              ng-change="vm.handleRankSelect(submission)"
              ng-options="rank.value as rank.label for rank in vm.ranks"
            )

          li(ng-if="vm.status == 'CLOSED'")
            p.rank {{ vm.rankNames[$index] }}

    file-row(files="submission.files" view-all-url="http://www.google.com" limit="5")




br
br
br
h1 *** old stuff below ***

include parts/header

include parts/subheader-member

include parts/subheader-customer

include parts/subheader-shared

ul.submissions(ng-if="vm.statusValue > 3")
  li.submission.flex.elevated-bottom(ng-repeat="submission in vm.submissions track by $index" data-id="{{ submission.id }}" ng-class="{ 'belongs-to-user': submission.belongsToUser }" draggable)
    ul.user-details.flex.middle
      li
        avatar(avatar-url="{{ submission.submitter.avatar }}")

      li
        .name-time
          .name {{ submission.submitter.handle }}
            span(ng-if="submission.belongsToUser") &nbsp;(Me)

          p.secondary Project Contributor

    ul.old-thumbnails.flex-grow.flex
      li(ng-repeat="file in submission.files track by $index")
        a(ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: submission.id, fileId: file.id})")
          img(ng-src="{{ file.url }}")

        .pop-over.elevated
          a.preview(ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: submission.id, fileId: file.id})")
            img.previewImage(ng-src="{{ file.url }}")

          a(ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: submission.id, fileId: file.id})")
            .icon.envelope

          a(href="{{ file.url }}", target="_blank")
            .clean.icon.download

      li
        a(ui-sref="submission-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: submission.id})")
          p.flex.middle.center(ng-if="!submission.more") View <br /> All
          p.flex.middle.center(ng-if="submission.more") +{{ submission.more }} <br /> more

    ul.actions.flex.middle.wrap
      li.comments(ng-if="vm.status != 'CLOSED'")
        a(href="{{ submission.downloadUrl }}", target="_blank")
          .icon.download.small

      li.comments(ng-if="vm.status == 'CLOSED' && submission.rank")
        a(href="{{ submission.downloadUrl }}", target="_blank")
          .icon.download.small

      li(ng-if="vm.userType != 'member' && vm.status != 'CLOSED'")
        select(ng-model="submission.rank", ng-change="vm.handleRankSelect(submission)", ng-options="rank.value as rank.label for rank in vm.ranks")

      li(ng-if="vm.status == 'CLOSED'") {{ vm.rankNames[$index] }}
