h4.work-name {{ vm.workName }} : {{ vm.workType }}

header
  .submitter
    .avatar

    .text
      .name Rafael

      time Submitted: 12:30 June 24 2015

  .accept
    .checkmark

    .text Accept this submission

  .comment
    .bubble

    .text Comment on this submission
