loader(ng-hide="vm.loaded")

include parts/header

include parts/timeline

section(ng-if="vm.status == 'scheduled'")
  h4 Submissions for the {{ vm.stepName }} Phase coming in &hellip;
  countdown(end="{{ vm.startsAt }}")

section(ng-if="vm.status == 'closed'")
  h4 Congratulations! These are your {{ vm.stepName }} winners.

  ul.top-selection
    li(ng-repeat="rank in vm.ranks")
      .shell.has-avatar
        .draggable
          avatar(avatar-url="{{ rank.avatarUrl }}")
          .overlay
            span {{ rank.value }}

section(ng-if="vm.status == 'open'")
  h4 Give feedback and select the top {{ vm.ranks.length }} designs.

  p.duration remaining to give feedback

  ul.top-selection
    li(ng-repeat="rank in vm.ranks")
      .shell(
        dragula="'ranked-submissions'",
        dragula-scope="$parent",
        ng-class="{ 'has-avatar': rank.avatarUrl }",
        data-rank="{{ $index }}")

        .draggable(ng-if="rank.avatarUrl", data-id="{{ rank.id }}")
          avatar(avatar-url="{{ rank.avatarUrl }}")
          .overlay
            span {{ rank.value }}

        .overlay(ng-if="!rank.avatarUrl")
          span {{ rank.value }}

  button.confirm.info(ng-show="vm.allFilled", ng-click="vm.confirmRanks()") Confirm your selections 

hr

ul.submissions.color-even
  li.submission(ng-repeat="submission in vm.submissions track by $index")
    ul.user-details
      li
        avatar(avatar-url="{{ submission.submitter.avatar }}")

      li
        .name-time
          .name {{ submission.submitter.handle }}

          time {{ submission.createdAt | timeLapse }}

    ul.thumbnails
      li.thumbnail(ng-repeat="file in submission.files track by $index")
        a(ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: submission.id, fileId: file.id})")
          img.img(ng-src="{{ file.images.thumbnail }}")

        .pop-over
          a(ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: submission.id, fileId: file.id})")
            img.previewImage(ng-src="{{ file.images.large }}")

          ul.previewActions
            li.comments
              .comments 20/28
                .icon.bubble

            li.download
              button
                a(href="{{ file.images.full }}", target="_blank")
                  .clean.icon.download

    ul.actions
      li
        a(ui-sref="submission-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: submission.id})") view all ({{ submission.files.length }})

      li.comments
        | {{ submission.unreadMessages }}/{{ submission.totalMessages }}

        .icon.bubble

      li(ng-if="vm.status == 'closed' && submission.rank")
        a(href="#", target="_blank")
          .clean.icon.download

      li(ng-if="vm.status == 'open'")
        select(ng-model="submission.rank", ng-change="vm.handleRankSelect(submission)", ng-init="")
          option(ng-repeat="rank in vm.rankNames", value="{{ $index + 1 }}", ng-selected="{{ $index + 1 == submission.rank }}") {{ rank }}

      li(ng-if="vm.status == 'closed'") {{ vm.rankNames[submission.rank -1] }}
