- ranks = ['1st Place', '2nd Place', '3rd Place', '4th Place', '5th Place']

loader(ng-hide="vm.loaded")

include parts/header

include parts/timeline

h4 Submissions for the {{ vm.phases.current.name }} Phase coming in &hellip;

h4 {{ vm.phases.next.name }} Phase starts in &hellip;

include parts/countdown

h4 Give feedback and select the top {{ vm.ranks.length }} design concepts.

p.duration You have 39 hours to give feedback

ul.top-selection
  li(ng-repeat="rank in vm.ranks track by $index")
    .shell {{ rank.value }}

    avatar(avatar-url="{{ rank.avatarUrl }}")

    .rank {{ rank.longLabel }}

button.confirm.info Confirm your selections

hr

ul.submissions.color-even
  li.submission(ng-repeat="submission in vm.submissions.screeningSubmissions track by $index")
    ul.user-details
      li
        avatar(avatar-url="{{ submission.submitter.avatarUrl }}")

      li
        .name-time
          .name {{ submission.submitter.handle }}

          time {{ submission.createdAt | timeLapse }}

    ul.thumbnails
      li.thumbnail(ng-repeat="file in submission.files track by $index")
        a(href="{{ file.url }}")
          img.img(ng-src="{{ file.thumbnailUrl }}")

    ul.actions
      li
        a(ui-sref="submission-slides") view all (12)

      li.comments
        | 20/28

        .icon.bubble

      li
        select(ng-model="submission.position", ng-options="pos as pos.longLabel for pos in vm.ranks", ng-change="vm.reorder(submission)")

