loader(ng-hide="vm.loaded")

include parts/header

include parts/timeline

h4 Submissions for the {{ vm.phase.current.name }} Phase coming in &hellip;

h4 {{ vm.phase.next.name }} Phase starts in &hellip;

include parts/countdown

h4 Give feedback and select the top {{ vm.ranks.length }} design concepts.

p.duration You have 39 hours to give feedback

ul.top-selection
  li(ng-repeat="rank in vm.ranks track by $index")
    .shell {{ rank.value }}

    avatar(avatar-url="{{ rank.avatarUrl }}")

    .rank {{ rank.label }}

button.confirm.info Confirm your selections

hr

ul.submissions.color-even
  li.submission(ng-repeat="submission in vm.submissions track by $index")
    ul.user-details
      li
        avatar(avatar-url="{{ submission.submitter.avatarUrl }}")

      li
        .name-time
          .name {{ submission.submitter.handle }}

          time {{ submission.createdAt | timeLapse }}

    ul.thumbnails
      li.thumbnail(ng-repeat="file in submission.files track by $index")
        a(ui-sref="submission-slides({workId: vm.workId, submissionId: submission.id, fileId: file.id})")
          img.img(ng-src="{{ file.thumbnailUrl }}")

    ul.actions
      li
        a(ui-sref="submission-detail({workId: vm.workId, submissionId: submission.id})") view all (12)

      li.comments
        | 20/28

        .icon.bubble

      li
        select(ng-model="submission.rank", ng-change="vm.reorder(submission)", ng-init="")
          option(ng-repeat="rank in vm.rankNames", value="{{ $index }}", ng-selected="{{ $index == submission.rank }}") {{ rank }}

