ul.header
  li.submitter
    .avatar

    .name-time
      .name alpha User

      time Submitted: 12:30 June 24 2015

  li
    .checkmark

    .bubble

hr

ul.slideshow
  li
    button.left-arrow

  li.preview
    .img

    p a-really-login-freaken-name-that-some-idiot-put

  li
    button.right-arrow

ul.thumbnails
  for i in [0, 1, 2, 3, 4, 5, 6]
    li.thumbnail
      button.img
