loader(ng-hide="vm.loaded")

submissions-header(project-id="{{ vm.projectId }}" step-id="{{ vm.stepId }}")

rank-list(ng-if="vm.stepType == 'designConcepts' || vm.stepType == 'completeDesigns'" project-id="{{ vm.projectId }}" step-id="{{ vm.stepId }}")

submission-list(ng-if="vm.stepType == 'designConcepts' || vm.stepType == 'completeDesigns'" project-id="{{ vm.projectId }}" step-id="{{ vm.stepId }}")

grid-of-thumbnails(ng-if="vm.stepType == 'finalFixes'" thumbnails="vm.submissions[0].files")
