loader(ng-hide="vm.loaded")

ul.header.flex.middle
  li.flex-grow.submitter
    a(href="") submissions

    .icon.arrow.right.smallest

    avatar(avatar-url="{{ vm.submission.submitter.avatar }}")

    .name {{ vm.submission.submitter.handle }}

  li
    select(ng-model="vm.submission.rank", ng-change="vm.handleRankSelect(vm.submission)", ng-options="rank.value as rank.label for rank in vm.ranks")

  li.download
    button.clean
      .icon.download.small

hr

ul.previews.flex.wrap
  li.preview(ng-repeat="file in vm.submission.files track by $index" fitted-width=true)
    a(
      ui-sref="file-detail({projectId: vm.projectId, stepId: vm.stepId, submissionId: vm.submissionId, fileId: file.id})"
    )
      img.img(ng-src="{{ file.url }}")

    p {{ file.name }}
