submission-winner-card.light-bg.elevated-bottom(name-text="Jeffrey Ramirez" avatar-url="/images/flower.png" rank="1st")

br
br

submission-winner-card.light-bg.elevated-bottom(name-text="Martha Quintero" avatar-url="/images/flower.png" rank="2nd")

br
br

submission-winner-card.light-bg.elevated-bottom(name-text="Luisa Crespa" avatar-url="/images/flower.png" rank="3rd")