ul.flex
  li
    submission-winner-card.light-bg.elevated-bottom(name-text="Jeffrey Ramirez" avatar-url="/images/flower.png" rank="1st")

  li
    submission-winner-card.light-bg.elevated-bottom(name-text="Martha Quintero" avatar-url="/images/flower.png" rank="2nd")

  li
    submission-winner-card.light-bg.elevated-bottom(name-text="Luisa Crespa" avatar-url="/images/flower.png" rank="3rd")

  li
    submission-winner-card.light-bg.elevated-bottom(name-text="Luisa Crespa" avatar-url="/images/flower.png")