ul.header
  li.previous
    a(ng-if="vm.phase.previous.sref", ui-sref="{{ vm.phase.previous.sref }}") &lt;

  li
    h1 {{ vm.phase.current.name }}

  li.next
    a(ng-if="vm.phase.next.sref", ui-sref="{{ vm.phase.next.sref }}") &gt;