ul.header.flex-center
  li.previous
    a(ng-if="vm.prevStepRef", href="{{ vm.prevStepRef }}") &lt;

  li
    h1 {{ vm.stepName }}

  li.next
    a(ng-if="vm.nextStepRef", href="{{ vm.nextStepRef }}") &gt;