.file-detail-messaging.flex.column(ng-class="{ active: vm.showComments }" flush-height=true)
  .title
    h4 File Comments

    hr

  .messages.flex-grow.flex-shrink
    ul
      li(ng-repeat="message in vm.messages track by $index")
        header.flex.middle
          avatar(avatar-url="{{ message.publisher.avatar }}")

          .name {{ message.publisher.handle }}

          time {{ message.createdAt | timeLapse }}

        p.message {{ message.body }}

  .send
    form(ng-submit="vm.sendMessage()" ng-if="vm.status != 'CLOSED'")
      textarea(placeholder!="Send a message&hellip;" ng-model="vm.newMessage")

      button.enter(type="submit") Enter