.flex.column.flex-grow
  ul.messages.flex-grow
    li(ng-repeat="message in vm.messages track by $index")
      header.flex.middle
        avatar(avatar-url="{{ message.publisher.avatar }}")

        .name {{ message.publisher.handle }}

        time {{ message.createdAt | timeLapse }}

      p.message {{ message.body }}

  form(ng-submit="vm.sendMessage()" ng-if="vm.status != 'CLOSED'")
    textarea(placeholder!="Send a message&hellip;" ng-model="vm.newMessage")

    button.enter(type="submit") Enter
