.flex.column.flex-grow
  ul.messages.flex-grow
    li(ng-repeat="message in vm.messages track by $index")
      header.flex.middle
        avatar(avatar-url="{{ vm.avatars[message.publisherId] }}")

        .name this is a very long long long name

        time {{ message.createdAt | timeLapse }}

      p.message {{ message.body }}

  form(ng-submit="vm.sendMessage()")
    textarea(placeholder!="Send a message&hellip;" ng-model="vm.newMessage")

    button.enter(type="submit") Enter
