div(ng-if="vm.userType == 'customer' && vm.status == 'PLACEHOLDER'")
  p You will see submissions here when they are ready.

div(ng-if="vm.userType == 'customer' && vm.status == 'SCHEDULED'")
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu ipsum sed magna dictum euismod ac sed eros. Sed iaculis, ligula non elementum sagittis, urna lectus fringilla ligula, at mattis orci mauris ut leo.
  submission-countdown(end='{{ vm.startsAt }}', text='Work starts on {{ vm.title }} submissions')

div(ng-if="vm.userType == 'customer' && vm.status == 'OPEN'")
  p No submissions yet, but the countdown has started. Once the submissions arrive, you will be notified by email and on your timeline. You will have 7 days to provide feedback and choose the winners for this phase.
  submission-countdown(end='{{ vm.submissionsDueBy }}', text='Receive {{ vm.title }} submissions')

div(ng-if="vm.userType == 'customer' && vm.status == 'OPEN_LATE'")
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu ipsum sed magna dictum euismod ac sed eros. Sed iaculis, ligula non elementum sagittis, urna lectus fringilla ligula, at mattis orci mauris ut leo.

div(ng-if="vm.userType == 'customer' && vm.status == 'REVIEWING'")
  p Please provide feedback and select the top {{ vm.numberOfRanks }} submissions within <strong><countdown end='{{vm.endsAt}}'></strong>. Your feedback will be visible to the copilot and all members who have submitted to help them improve their initial concepts.

div(ng-if="vm.userType == 'customer' && vm.status == 'REVIEWING_LATE'")
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu ipsum sed magna dictum euismod ac sed eros. Sed iaculis, ligula non elementum sagittis, urna lectus fringilla ligula, at mattis orci mauris ut leo.

div(ng-if="vm.userType == 'customer' && vm.status == 'CLOSED'")
  p These are your winners. You can still review submissions, but can no longer provide feedback. If you have any more comments, please message your copilot. The next phase begins in <strong><countdown end='{{ vm.nextStepStartsAt }}'></strong>.