.subheader(ng-if="vm.status == 'CLOSED'")
  p(ng-if="vm.userType != 'member'") Congratulations! These are your {{ vm.stepName }} winners.

  p(ng-if="vm.userType == 'member' && vm.userRank") Congratulations! You came in {{ vm.userRank }}! These are the {{ vm.stepName }} winners.

  p(ng-if="vm.userType == 'member' && !vm.userRank") These are the phase winners. You design was not chosen as a winner. However, you can still submit designs in the final round.

  ul.winners
    li(ng-repeat="rank in vm.ranks" ng-if="rank.id" ng-class="{ 'belongs-to-user': rank.belongsToUser }")
      .rank(ng-if="vm.stepType == 'designConcepts'") <strong>{{rank.label.slice(0, -6)}}</strong><br /> place

      .rank(ng-if="vm.stepType == 'completeDesigns'")
        strong Winner

      avatar(avatar-url="{{rank.avatarUrl}}")

      a.name(href="#") {{rank.handle}}
        span(ng-if="rank.belongsToUser") &nbsp;(Me)