@import "work-styles";

h1 {
  text-align: center;
}

.layout-main {
  max-width       : 760px;
  background-color: white;
  margin          : 0 auto;
  padding         : 20px;
}

body > a {
  color: white;
  margin: 10px;
  display: inline-block;
}