@import "work-styles";

body #example-nav {
  position: fixed;
  bottom: 0;
  background-color: $white;
  opacity: 0.6;

  li {
    display: inline-block;
  }

  a {
    margin: 10px;
    display: inline-block;
  }
}